name: Deploy to S3 and Notify

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload only index.html to S3 bucket
        run: |
          aws s3 cp index.html s3://${{ secrets.S3_BUCKET }}/index.html --acl public-read


      - name: Make bucket public
        run: |
          cat > policy.json << 'EOF'
          {
            "Version": "2012-10-17",
            "Statement": [
              {
                "Sid": "PublicReadGetObject",
                "Effect": "Allow",
                "Principal": "*",
                "Action": "s3:GetObject",
                "Resource": "arn:aws:s3:::${{ secrets.S3_BUCKET }}/*"
              }
            ]
          }
          EOF

          aws s3api put-bucket-policy \
            --bucket ${{ secrets.S3_BUCKET }} \
            --policy file://policy.json

      - name: Enable static hosting
        run: |
          aws s3 website s3://${{ secrets.S3_BUCKET }} \
            --index-document index.html \
            --error-document error.html

      - name: Compute URL
        id: website
        run: |
          echo "url=http://${{ secrets.S3_BUCKET }}.s3-website-${{ secrets.AWS_REGION }}.amazonaws.com" >> $GITHUB_OUTPUT

      - name: Print URL
        run: echo ${{ steps.website.outputs.url }}

      - name: POST URL to external service
        run: |
          curl -X POST https://lethally-pierceable-shenna.ngrok-free.dev   \
            -H "Content-Type: application/json" \
            -d "{\"website_url\": \"${{ steps.website.outputs.url }}\"}"
